DB_PASSWORD=backend_app_server
DB_USER=backend_app_server
DB_NAME=parkingApp
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET=super_secret_key_change_me
JWT_EXPIRES_IN=7d


GOOGLE_CLIENT_ID=tu id
GOOGLE_CLIENT_SECRET=tu secret
GOOGLE_CALLBACK_URL=tu callback

EMAIL_USER=algo@gmail.com
EMAIL_PASSWORD=bety asdd asd fsds
EMAIL_SERVICE= gmail

FRONTEND_URL=https://kqmdlvwg-5173.brs.devtunnels.ms
PORT=3000

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

CLOUDINARY_IMAGE_QUALITY=80
CLOUDINARY_IMAGE_FORMAT=webp
CLOUDINARY_MAX_WIDTH=1200
CLOUDINARY_MAX_HEIGHT=1200